<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}} <!-- partial header from header.hbs -->
        <!-- OLD :<h1>{{title}}</h1>  Access to hbs object with property name: title -->
        <img class="portrait" src="img/robot.png">
    </div>
    
    {{>footer}}
</body>


</html>